In [1]:
import pandas as pd
import numpy as np
tr = pd.read_excel('C:/ts.xlsx',skiprows=6,index_col=None)
print(type(tr))
tr1=tr[['Year','Country','Continent','Dis Mag Value','Dis Mag Scale']]

#extract the data in 2009
tr2009=tr1[(tr1['Year'] == 2009)]

#screen different levels of tropical cyclone and save them through loc
def asd(a):
    return 215 <= a 
tryy=tr2009.loc[tr2009['Dis Mag Value'].apply(asd)]

def asd4(e):
    return 209 <= e < 252
tryy4=tr2009.loc[tr2009['Dis Mag Value'].apply(asd4)]

def asd3(f):
    return 178 <= f < 209
tryy3=tr2009.loc[tr2009['Dis Mag Value'].apply(asd3)]

def asd2(g):
    return 154 <= g < 177
tryy2=tr2009.loc[tr2009['Dis Mag Value'].apply(asd2)]

def asd1(h):
    return 119 <= h < 154
tryy1=tr2009.loc[tr2009['Dis Mag Value'].apply(asd1)]

def asd0(i):
    return 63 <= i < 119
tryy0=tr2009.loc[tr2009['Dis Mag Value'].apply(asd0)]

def asd00(j):
    return 33 <= j < 63
tryy00=tr2009.loc[tr2009['Dis Mag Value'].apply(asd00)]

#count the item amount in each DataFrame
dis=tryy.shape[0]
dis4=tryy4.shape[0]
dis3=tryy3.shape[0]
dis2=tryy2.shape[0]
dis1=tryy1.shape[0]
dis0=tryy0.shape[0]
dis00=tryy00.shape[0]

#recreate a DataFrame 
tr7=pd.DataFrame({'Level 5':dis,'Level 4':dis4,'Level 3':dis3,
                 'Level 2':dis2,'Level 1':dis1,'Tropical Storm':dis0,
                 'Tropical Dpression':dis00},index=['2009'])


tr7.to_excel('C:/2009 Storm Level.xlsx')

tr7

<class 'pandas.core.frame.DataFrame'>

,Level 5,Level 4,Level 3,Level 2,Level 1,Tropical Storm,Tropical Dpression
2009,1,2,1,2,11,6,0