In [1]:
import pandas as pd
tr = pd.read_excel('C:/globaltemperature_.xlsx',skiprows=3,index_col=None)
tr

     Year     No_Smoothing  Lowess(5)
0    ----  ---------------  ---------
1    1880            -0.16      -0.08
2    1881            -0.07      -0.12
3    1882             -0.1      -0.16
4    1883            -0.16      -0.19
..    ...              ...        ...
136  2015              0.9       0.83
137  2016             1.01       0.87
138  2017             0.92       0.91
139  2018             0.85       0.95
140  2019             0.98       0.98

[141 rows x 3 columns]

In [2]:
index = tr[tr.Year == 1900].index.tolist()[0]  
print(index)

21

In [4]:
#extract the data
tr1=tr.iloc[21:141]
tr2=tr1[['Year','Lowess(5)']]
#clarify the DataFrame
tr2.rename(columns={'Lowess(5)':'Lowess'}, inplace = True)
tr2.reset_index(drop=True, inplace=True)
#save it
tr2.to_excel('C:/1900-2019 temperature.xlsx')